<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <div class="row mt-5">
        <h1>Home Page</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente magnam, aperiam porro praesentium, aut
          temporibus
          deleniti eius dolor laborum cum illum debitis mollitia? Nesciunt, autem sequi officiis dolore sint magnam.</p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>